# Serverless directories
.serverless/

# golang output binary directory
bin

# golang vendor (dependencies) directory
vendor

# terraform
.terraform/**

# Jetbrains
.idea/**

node_modules/
**/node_modules/**
.DS_Store

dist/
**/dist/**
